:root {
    color-scheme: dark;
    
    --blue: #384f88;
    --blue-highlight: #5071c0;
    --green: #498838;
    --green-highlight: #5cab47;
    --green-dark: #315b26;
    --red: #982323;
    --red-highlight: #cc3030;
    --red-dark: #6b1a1a;
}

#ghost_info, #toggle_floatingorb, #toggle_instructions, #toggle_minimal, #toggle_descriptions, #objectives, .warning, footer {display:none;}

#evidence>:first-child, #cursed_possessions>:first-child, #possessions_hints>div>:first-child, #possessions_hints>div>:nth-child(2), #possessions_hints>div>:nth-child(3)>h2 {display:none;}

.description>:nth-child(1), .description>:nth-child(2), .description>:nth-child(3), .description>:nth-child(4), .description>:nth-child(5), .description>:nth-child(6), .description>:last-child {
    display:none !important;
}
.description {margin-bottom:3px;}

.wrapper>.minimal {display:none !important;}

.orb {background-image:none;}

.toggle_buttons a.active {
    background: var(--blue);
}

.toggle_buttons a:hover {
    background: var(--blue-highlight);
}

input[type="checkbox"] + label:hover {background-color: #777777;}

input[type="checkbox"]:checked + label {background-color: var(--blue);}
input[type="checkbox"]:checked + label:hover {background-color: var(--blue-highlight);}

input[type="checkbox"] + label {font-size:16px;}

#possessions_list {
    position:absolute;
    top: 22px;
    margin-left:340px;
}
.toggle_buttons {
    margin-bottom:0px;
}

#evidence {margin-bottom:30px;}

#possessions_hints {max-width:1200px; margin-top:10px;}

.nightmare .evidence li[required="true"] {outline:rgba(255, 215, 0, 0.5)  1px  dashed;}
.nightmare .evidence li[required="true"].yes {outline:rgba(255, 215, 0, 1) 1px dashed;}

/* body:not(.nightmare) */ .description li:has(> font[color="gold"]) {display:none;}

.ghost .evidence {flex-direction: row; display:flex; padding:5px; gap:5px}

.ghost .evidence li {
    overflow: hidden;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:13px;
    height:38px;
}

.evidenceToggle {
    background-color:#484848;
    padding: 7px;
    font-size:18px;
    border-radius:2px;
    cursor: pointer;
    color:white;
}

.evidenceToggle:hover {
    background-color: #777777;
}

.evidenceToggle.yes  {
    background-color: var(--green);
}

.evidenceToggle.yes:hover  {
    background-color: var(--green-highlight);
}

.evidenceToggle.no {
    background-color: var(--red);
    text-decoration:line-through;
}

.evidenceToggle.no:hover {
    background-color: var(--red-highlight);
}

.ghost .evidence li.yes {
    background-color: var(--green-dark);
}

.ghost .evidence li.no {
    background-color: var(--red-dark);
}

.ghost h3 {
    cursor: pointer;
}

.ghost.manual-excluded h3 {
    text-decoration:line-through;
    color: #ff5757;
}

.hide-excluded .ghost.excluded {
    display: none;
}