.interactions {
    color: #00bfff
}

.sanity-loss {
    color: plum
}

.ghost-events {
    color: #0ff
}

.when-hunting {
    color: #ff1493
}

.average-sanity-hunt {
    color: orange
}

.hunt-initiation {
    color: #adff2f
}

.hunting-speed {
    color: tomato
}

.incense-hunt-prevention {
    color: #bc8f8f
}

@font-face {
    font-family: lazy_dog;
    src: url(lazy_dog.858000e6.woff)format("woff");
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    color-scheme: dark
}

body {
    color: #fff;
    background: #000;
    width: 100%;
    height: 100vh;
    font-family: Quicksand,sans-serif;
    font-size: 14px;
    transition: background-color .4s
}

body.positive {
    background: #0f1c0b
}

body.negative {
    background: #1c0606
}

#top-content {
    background: #2c2c2c;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 10px;
    display: flex;
    box-shadow: 0 4px 4px #0006
}

#top-content .config-buttons {
    gap: 10px;
    display: flex
}

#top-content .config-buttons .toggle:not(.active) {
    color: #fff;
    background: #626262
}

a {
    color: #384f88;
    padding: 0 2px;
    font-weight: 700
}

a:hover {
    color: #4764ac
}

a img {
    opacity: .5
}

a img:hover {
    opacity: 1
}

#bottom-content {
    padding: 20px
}

.button,.toggle {
    user-select: none;
    color: #000;
    cursor: pointer;
    background: #d7d7d7;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700
}

.button:hover,.toggle:hover {
    color: #000;
    filter: brightness(140%)
}

.button.active,.toggle.active {
    color: #fff;
    background: #384f88
}

#possessions #possession-buttons {
    gap: 2px;
    display: flex
}

#possessions #possession-buttons .toggle {
    border-radius: 0;
    padding: 5px 10px;
    font-size: 15px;
    display: flex
}

@media screen and (width<=1240px) {
    #possessions #possession-buttons .toggle {
        padding: 5px 7px;
        font-size: min(15px,2.5vw)
    }
}

#possessions #possession-buttons .toggle:first-of-type {
    border-top-left-radius: 5px
}

#possessions #possession-buttons .toggle:first-of-type:not(.active) {
    border-bottom-left-radius: 5px
}

#possessions #possession-buttons .toggle:last-of-type {
    border-top-right-radius: 5px
}

#possessions #possession-buttons .toggle:last-of-type:not(.active) {
    border-bottom-right-radius: 5px
}

#possessions #possession-buttons .toggle:not(.active) {
    color: #fff;
    background: #1a1a1a
}

#possessions #possession-buttons .toggle.active {
    margin-bottom: -3px
}

#possessions #possession-hints {
    z-index: 1000;
    background: #2c2c2c;
    border-top: 3px solid #384f88;
    border-radius: 5px;
    margin: 3px 5px 0 -5px;
    padding: 10px;
    position: absolute;
    box-shadow: 0 4px 4px #0006
}

#possessions #possession-hints div:not(:has(table)) {
    max-width: 900px
}

#possessions #possession-hints table {
    text-align: left
}

#possessions #possession-hints table th:not(:last-of-type),#possessions #possession-hints table td:not(:last-of-type) {
    padding-right: 15px
}

#possessions #possession-hints table tr:nth-child(odd) {
    background: #1c1c1c
}

#possessions #possession-hints.disabled {
    width: 0
}

#possessions #possession-hints h2 {
    margin: 0 0 5px;
    font-size: 22px;
    font-weight: 400
}

#possessions #possession-hints p,#possessions #possession-hints ul {
    margin: 0 0 15px
}

#possessions #possession-hints ul {
    margin-left: 20px
}

#possessions #possession-hints ul li:not(:last-of-type) {
    margin-bottom: 3px
}

#possessions #possession-hints div>:last-child {
    margin-bottom: 0
}

#journal-minimap {
    z-index: 1000;
    color: #626262;
    user-select: none;
    background: #1a1a1a;
    border-radius: 10px;
    padding: 7px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 4px 4px #0006
}

#journal-minimap table {
    white-space: nowrap;
    text-align: center;
    font-family: lazy_dog,Quicksand,sans-serif;
    font-size: 5px;
    font-weight: lighter
}

#journal-minimap table tr {
    height: 8px
}

#journal-minimap table .positive {
    color: #5cac47;
    text-shadow: 0 0 5px #5cac47;
    font-size: 8px
}

#journal-minimap table th:not(:last-of-type),#journal-minimap table td:not(:last-of-type) {
    padding-right: 5px
}

.disabled {
    display: none!important
}

.faded {
    opacity: .5
}

#ghosts {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-flow: dense;
    flex-wrap: wrap;
    display: grid;
}

#ghosts .ghost {
    transition: opacity .125s;
    position: relative
}

#ghosts .ghost h3 {
    cursor: pointer;
    margin: 0 0 .2em;
    font-size: 22px;
    transition: color .125s
}

#ghosts .ghost h3 img {
    opacity: .28;
    height: 36px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: 6px
}

#ghosts .ghost.positive h3 {
    color: #5cac47
}

#ghosts .ghost.positive h3 img {
    opacity: 1;
    filter: brightness(50%)sepia()saturate(2.5)hue-rotate(60deg)
}

#ghosts .ghost p {
    margin: 0 0 .8em;
    font-size: 13px
}

#ghosts .ghost ul {
    margin-left: 15px
}

#ghosts .ghost .evidence {
    display: flex;
    gap: 4px; /* Erhöht den Abstand zwischen den Beweisen */
    flex-wrap: wrap; /* Falls es eng wird, dürfen sie umbrechen */
    justify-content: center; /* Zentriert die Beweise */
    margin-top: 5px; /* Abstand zum letzten Satz */
}

#ghosts .ghost .evidence li:empty {
    display: none!important
}

#ghosts .ghost .evidence li {
#    display: block; /* Entfernt Flexbox-Probleme */
#    width: 30px; /* Einheitliche Breite für Ellipsis */
#    max-width: 90px;
#    min-width: 20px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    text-align: center;
    background: #2f2f2f;
    border-radius: 5px;
    display: flex;
    flex: 0 2 auto;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: 700;
    list-style: none;
}

#ghosts .ghost .evidence li.positive {
    background: #366429
}

#ghosts .ghost .evidence li.negative {
    background: #6f1919
}

#ghosts .ghost.manual-excluded h3 {
    color: #c12d2d;
    text-decoration: line-through
}

.hide-excluded .ghost.excluded {
    display: none
}

#evidence-buttons {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    display: flex
}

#evidence-buttons .button {
    cursor: pointer;
    color: #fff;
    background: #484848;
    border-radius: 2px;
    padding: 7px;
    font-size: 18px
}

#evidence-buttons .button .short {
    display: none
}

@media screen and (width<=1240px) {
    #evidence-buttons .button {
        font-size: 15px
    }

    #evidence-buttons .button .short {
        display: inherit
    }

    #evidence-buttons .button .full {
        display: none
    }
}

#evidence-buttons .button.positive {
    background: #498838
}

#evidence-buttons .button.negative {
    background: #982323;
    text-decoration: line-through
}

#evidence-buttons hr {
    margin-left: 15px;
    margin-right: 15px
}

.excluded {
    opacity: .4
}

.nightmare .evidence li[required] {
    outline: 1px dashed #ffd70080
}

.nightmare .evidence li[required].positive {
    outline: 1px dashed gold
}

.github-icon {
    position: absolute;
    top: 10px;
    right: 10px
}

/*# sourceMappingURL=index.d39175f6.css.map */