.interactions {
  color: deepskyblue;
}

.sanity-loss {
  color: plum;
}

.ghost-events {
  color: aqua;
}

.when-hunting {
  color: deeppink;
}

.average-sanity-hunt {
  color: orange;
}

.hunt-initiation {
  color: greenyellow;
}

.hunting-speed {
  color: tomato;
}

.smudge-stick-hunt-prevention {
  color: rosybrown;
}

@font-face {
  font-family: "lazy_dog";
  src: url("lazy_dog.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

body {
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  transition: background-color 0.4s ease;
}
body.positive {
  background: #0f1c0b;
}
body.negative {
  background: #1c0606;
}

#top-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  padding: 10px;
  background: #2c2c2c;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 4px;
}
#top-content .config-buttons {
  display: flex;
  gap: 10px;
}
#top-content .config-buttons .toggle:not(.active) {
  background: #626262;
  color: white;
}

a {
  color: #384f88;
  font-weight: 700;
  padding: 0 2px;
}
a:hover {
  color: #4764ac;
}
a img {
  opacity: 0.5;
}
a img:hover {
  opacity: 1;
}

#bottom-content {
  padding: 20px;
}

.button, .toggle {
  user-select: none;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: black;
  background: #d7d7d7;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.button:hover, .toggle:hover {
  color: black;
  filter: brightness(140%);
}
.button.active, .toggle.active {
  color: white;
  background: #384f88;
}

#possessions #possession-buttons {
  display: flex;
  gap: 2px;
}
#possessions #possession-buttons .toggle {
  display: flex;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 0;
}
@media screen and (max-width: 1240px) {
  #possessions #possession-buttons .toggle {
    font-size: min(15px, 2.5vw);
    padding: 5px 7px;
  }
}
#possessions #possession-buttons .toggle:first-of-type {
  border-top-left-radius: 5px;
}
#possessions #possession-buttons .toggle:first-of-type:not(.active) {
  border-bottom-left-radius: 5px;
}
#possessions #possession-buttons .toggle:last-of-type {
  border-top-right-radius: 5px;
}
#possessions #possession-buttons .toggle:last-of-type:not(.active) {
  border-bottom-right-radius: 5px;
}
#possessions #possession-buttons .toggle:not(.active) {
  background: #1a1a1a;
  color: white;
}
#possessions #possession-buttons .toggle.active {
  margin-bottom: -3px;
}
#possessions #possession-hints {
  padding: 10px;
  background: #2c2c2c;
  position: absolute;
  border-top: #384f88 3px solid;
  border-radius: 5px;
  margin: 3px 5px 0 -5px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 4px;
}
#possessions #possession-hints div:not(:has(table)) {
  max-width: 900px;
}
#possessions #possession-hints table {
  text-align: left;
}
#possessions #possession-hints table th:not(:last-of-type), #possessions #possession-hints table td:not(:last-of-type) {
  padding-right: 15px;
}
#possessions #possession-hints table tr:nth-child(odd) {
  background: #1c1c1c;
}
#possessions #possession-hints.disabled {
  width: 0;
}
#possessions #possession-hints h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#possessions #possession-hints p, #possessions #possession-hints ul {
  margin: 0 0 15px 0;
}
#possessions #possession-hints ul {
  margin-left: 20px;
}
#possessions #possession-hints ul li:not(:last-of-type) {
  margin-bottom: 3px;
}
#possessions #possession-hints div > :last-child {
  margin-bottom: 0;
}

#journal-minimap {
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  position: absolute;
  background: #1a1a1a;
  padding: 7px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 4px;
  color: #626262;
  user-select: none;
}
#journal-minimap table {
  white-space: nowrap;
  text-align: center;
  font-size: 5px;
  font-family: "lazy_dog", "Quicksand", sans-serif;
  font-weight: lighter;
}
#journal-minimap table tr:not(:last-of-type) {
  height: 8px;
}
#journal-minimap table tr:not(:last-of-type) .positive {
  color: #5cac47;
  text-shadow: #5cac47 0 0 5px;
  font-size: 8px;
}
#journal-minimap table th:not(:last-of-type), #journal-minimap table td:not(:last-of-type) {
  padding-right: 5px;
}

.disabled {
  display: none !important;
}

#ghosts {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  grid-auto-flow: dense;
}
#ghosts .ghost {
  transition: opacity 0.125s ease;
  position: relative;
}
#ghosts .ghost h3 {
  font-size: 22px;
  transition: color 0.125s ease;
  margin: 0 0 0.2em 0;
  cursor: pointer;
}
#ghosts .ghost.positive h3 {
  color: #5cac47;
}
#ghosts .ghost p {
  margin: 0 0 0.8em 0;
  font-size: 13px;
}
#ghosts .ghost ul {
  margin-left: 15px;
}
#ghosts .ghost .evidence {
  flex-direction: row;
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: 3px 0 0 0;
}
#ghosts .ghost .evidence li:empty {
  display: none !important;
}
#ghosts .ghost .evidence li {
  list-style: none;
  background: #2f2f2f;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  margin: 0 0 0.4em 0;
  font-weight: 700;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  height: 38px;
}
#ghosts .ghost .evidence li.positive {
  background: #366429;
}
#ghosts .ghost .evidence li.negative {
  background: #6f1919;
}
#ghosts .ghost.manual-excluded h3 {
  text-decoration: line-through;
  color: #c12d2d;
}

.hide-excluded-toggle .ghost.excluded {
  display: none;
}

#evidence-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}
#evidence-buttons .button {
  background: #484848;
  padding: 7px;
  font-size: 18px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
#evidence-buttons .button .short {
  display: none;
}
@media screen and (max-width: 1240px) {
  #evidence-buttons .button {
    font-size: 15px;
  }
  #evidence-buttons .button .short {
    display: inherit;
  }
  #evidence-buttons .button .full {
    display: none;
  }
}
#evidence-buttons .button.positive {
  background: #498838;
}
#evidence-buttons .button.negative {
  background: #982323;
  text-decoration: line-through;
}
#evidence-buttons hr {
  margin-left: 15px;
  margin-right: 15px;
}

.excluded {
  opacity: 0.4;
}

.nightmare .evidence li[required=true] {
  outline: rgba(255, 215, 0, 0.5) 1px dashed;
}
.nightmare .evidence li[required=true].positive {
  outline: rgb(255, 215, 0) 1px dashed;
}

.github-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*# sourceMappingURL=main.css.map */
