h2 Haunted Mirror
ul
    li The haunted mirror can be activated by right-clicking while holding it in your hands.
    li When activated, the haunted mirror will show a view of a part of the ghost's favourite room as a sweeping panorama, allowing players to locate the room by cross-reference.
    li While active, the mirror creates a faint glow over the shown area, which all players can see, even outside of the mirror.
    li Can only be used while inside the investigation area.
    li Each use of the mirror drains 7.5% sanity per second, but no less than 20%. This means that using the mirror for less than 2.67 seconds will still drain at least 20% sanity.
    li If the user's sanity reaches zero, the mirror will break and initiate a cursed hunt.