h2 Monkey Paw
p The Monkey Paw can be used to grant the player wishes. Depending on the difficulty level, you'll get three to five wishes. You can't repeat the wish, so choose carefully.
table
    tr
        th Wish
        th Effect
        th Penalty
    tr
        td I wish to be sane
        td The Sanity of all players is set to 50%.
        td Permanently 50% increased sanity drain. The Ghost's favorite room will be randomized.
    tr
        td I wish to be safe
        td Unblocks the nearest hiding spot.
        td Ghost can permanently sense Player's voice and active electronics at any range.
    tr
        td I wish to leave
        td Unlocks all doors.
        td Player is slowed and have reduced vision for 5 seconds.
    tr
        td I wish to see the ghost
        td Ghost spawns near you for 5 seconds.
        td Cursed Hunt afterwards with reduced vision.
    tr
        td I wish for activity
        td Doubled ghost activity for 2 minutes.
        td Permanently breaks the fuse box, and locks the exit door for two minutes.
    tr
        td I wish to trap the ghost
        td Traps the ghost in its favourite room for 1 minute.
        td Player will be trapped in the room they are currently in for 1 minute. Cursed Hunt afterwards.
    tr
        td I wish for life
        td Revive a dead teammate.
        td 50% chance of killing the player who made the wish in turn.
    tr
        td I wish for knowledge
        td Cross out incorrect evidence in your journal.
        td Cursed Hunt, and permanently reduced vision and muffled hearing.
    tr
        td I wish for #[span(style="color: darkgray") weather]*
        td Changes the weather as desired.
        td Blindness while the weather changes, and 25% sanity loss for the player who made the wish.
    tr
        td I wish for anything
        td Randomly pick a wish.
        td
br
sup *#[span(style="color: darkgray") weather] = sun, rain, clear sky, fog, snow, or wind.