h2 Music Box
ul
    li The music box can be activated by right-clicking while holding it in your hand. Doing so will end the setup phase early if it is ongoing.
    li If the box is within 20 metres of the ghost, the ghost will sing along, broadcasting its location.
    li If the box is within 5 metres of the the ghost, it will trigger a Ghost Event where the ghost manifests and begins to walk towards it.
    li During this Ghost Event, if the ghost reaches the music box or spends more than 5 seconds walking towards it, it will initiate a cursed hunt.
    li The box can be placed on the ground while active. However, if thrown while active, it will initiate a cursed hunt.
    li Being within 2.5 metres of an active music box drains the player's sanity at a rate of 2.5%/s, totaling 75% if the entire song is listened to. This applies to all players within the range.
    li It can only be used once.