h2 Ouija Board
ul
    li The Ouija Board can be activated by left-clicking on it if the player is not holding it, or by right-clicking while holding it.
    li Once activated, the planchette will appear, cancelling the setup phase if it is ongoing.
    li The player can then ask the various questions listed below, each costing some amount of sanity.
    li To deactivate the Ouija Board, the player must say "Goodbye", which will make the planchette disappear.
    li If the player who activated the board walks away from an active Ouija Board, or has insufficient sanity to "pay" for the question that they ask, the board will break and initiate a cursed hunt.
table
    tr
        th Question
        th Sanity Loss
    tr
        td Where are you?
        td 50%
    tr
        td Where is the bone?
        td 20%
    tr
        td Are you close?
        td 20%
    tr
        td Do you respond to everyone?
        td 20%
    tr
        td How old are you?
        td 5%
    tr
        td What is my sanity?
        td 5%
    tr
        td Others
        td 5%
    tr
        td Hide and seek
        td 0% (cursed hunt)
br
ul
    li If the question is recognised, the planchette will move to answer the question, and an EMF 2 reading will be generated around the Ouija Board.
    li If the ghost has EMF 5 as evidence, there is a 25% chance for this to be the reading instead.
    li Can be used anywhere inside the investigation area, no matter where the ghost is.