h2 Summoning Circle
ul
    li The summoning circle can be activated by lighting all five red candles with a lighter.
    li Each candle lit deducts 16% sanity, leading to a total of 80% sanity being deducted for all candles.
    li Once all five candles are lit, the ghost will be summoned to the center of the circle fully materialized, and stay motionless for 5 seconds as a Ghost Event.
    li After the 5 seconds, it will immediately initiate a cursed hunt on the spot.
    li If the player has less than 16% sanity when lighting the last candle, it will skip the 5 seconds Ghost Event and immediately initiate a cursed hunt instead.
    li Once the summoning circle has been activated, it cannot be used again.