h2 Tarot Cards
ul
    li Each Tarot cards deck contains 10 randomly generated cards. A single card type can appear more than once in the deck.
    li There are various cards the player can draw from the deck, each having a unique effect on either the player or the ghost.
    li After being used, each card will vanish in a colored flame that is dependent on its type.
    li Tarot cards can only be drawn while inside the investigation area.
table
    tr
        th Card
        th Chance
        th Effect
    tr
        td The Tower
        td 20%
        td Causes an interaction and doubles ghost activity for 20 seconds.
    tr
        td The Wheel of Fortune
        td 20%
        td Either increases the player's sanity by 25% if it burns green or decreases it by 25% if it burns red.
    tr
        td The Devil
        td 10%
        td Triggers a Ghost Event.
    tr
        td Death
        td 10%
        td Triggers a cursed hunt.
    tr
        td The Hermit
        td 10%
        td Teleports the ghost back to its favourite room and traps it there for 1 minute.
    tr
        td The Sun
        td 5%
        td Restores sanity to 100%.
    tr
        td The Moon
        td 5%
        td Drops sanity to 0%.
    tr
        td The Fool
        td 5%
        td Appears as another card at first, before turning into The Fool just before it burns. This card does not have any effect on the player.
    tr
        td The High Priestess
        td 2%
        td Revives a randomly chosen dead player at their corpse. If no one is dead, it will revive the next person who dies.
    tr
        td The Hanged Man
        td 1%
        td Instantly kills the player.