h2 Voodoo Doll
ul
    li Interacting with the voodoo doll will cause one of the 10 pins stuck in the doll to be pushed in at random, causing the ghost to perform an interaction, and drops the player's sanity by 5%.
    li If the heart pin is pressed in, it will instead initiate a cursed hunt and drop the player's sanity by 10%.
    li If the player's sanity is less than what the pressed pin would drain, all of the remaining pins will get pushed in and a cursed hunt will occur.