include ../mixins/evidence.pug

h3 Banshee
    img(src="ghost-icons/banshee.png")
ul
    li When Hunting, it targets only one person. If the hunt target is outside the building, it will hunt like any other ghost, chasing any opportune player.
    li When Hunting, and the main target dies, it will target another player.
    li Average Sanity Hunt is target dependant and not average sanity.
    li Ghost Events are likely to be the singing-based ones.
    li Sanity Loss of 15% instead of 10% from target player when colliding with ghost during singing ghost events.
    li Parabolic Microphone has a chance 33% for a unique wailing sound.
    li Roaming will happen often towards their target.
    li Will never change its favourite room.
ul.evidence
    +ultraviolet
    +orb
    +dots
    +earlyhunt