include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Demon") Demon
    img(src="ghost-icons/demon.png")
ul
    li Hunt Initiation can sometimes happen at any average sanity. Even 100%.
    li Hunt Initiation blocking range of crucifixes increased by 50%.
    li Average Sanity Hunt at 70%.
    li Incense Hunt Prevention is reduced from 90 seconds to 60 seconds.
    li Minimum hunt time cooldown is reduced from 25 seconds to 20 seconds.
ul.evidence
    +ultraviolet
    +writing
    +freezing
    +earlyhunt