include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Deogen") Deogen
    img(src="ghost-icons/deogen.png")
ul
    li Average Sanity Hunt at 40%.
    li Hunting Speed increased by 75% when more than 6m away. Below 6m, the ghost becomes *much* slower as it approaches the player.
    li When Hunting, it always has line of sight with all players (hiding spots don't work) and will occasionally repick the nearest target throughout the hunt.
    li When Hunting, it is invisible for shorter intervals.
    li Can produce a unique heavy bull-like breathing within 1 meter.
    li Using incense will force it to repick the nearest target when the effect runs out.
ul.evidence
    +box(required=true)
    +writing
    +dots
    +fast