include ../mixins/evidence.pug

h3 Goryo
    img(src="ghost-icons/goryo.png")
ul
    li D.O.T.S can only be seen through a video camera.
    li Will not interact with D.O.T.S if any player is in the same room as the ghost.
    li Will never change its favourite room or roam long distances.
ul.evidence
    +emf
    +ultraviolet
    +dots(required=true)