include ../mixins/evidence.pug

h3 Hantu
    img(src="ghost-icons/hantu.png")
ul
    li When Hunting, living players can see freezing breath from the ghost if the breaker is off, even through a video camera.
    li Hunting Speed increases depending on temperature in rooms below 15°C, up to 60% below 0°C.
    li Hunting Speed decreased by 20% in rooms above 15°C.
    li Hunting Speed does not accelerate when in line of sight of a player, unlike most ghosts.
    li Breaker has an increased chance to be turned OFF.
ul.evidence
    +ultraviolet
    +orb
    +freezing(required=true)
    +fast
    +slow