include ../mixins/evidence.pug

h3 Jinn
    img(src="ghost-icons/jinn.png")
ul
    li Hunting Speed increased by 50% if in line of sight and the player is over 3m away, while the breaker is ON.
    li Sanity Loss of 25% occassionally if you stand within 3m of the ghost and if the breaker is ON. Also triggers an EMF 2 or 5 at the breaker.
    li Breaker cannot be turned OFF by ghost interaction.
ul.evidence
    +emf
    +ultraviolet
    +freezing
    +sanityloss
    +fast