include ../mixins/evidence.pug

h3 Mare
    img(src="ghost-icons/mare.png")
ul
    li Average Sanity Hunt threshold with lights ON is at 40% and 60% with lights OFF.
    li Ghost Events are more likely to be breaking a light bulb.
    li Interactions are more likely to be turning OFF lights.
    li Lights can be turned OFF immediately after you turn them ON. Cannot be spammed.
    li Lights cannot be turned ON by ghost.
    li More likely to roam into unlit rooms, and therefore has a higher chance to change its favourite room if the current favourite room is lit.
ul.evidence
    +box
    +orb
    +writing
    +earlyhunt