include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/The_Mimic") The Mimic
    img(src="ghost-icons/mimic.png")
ul
    li Ghost Orbs will appear as a 4th piece of evidence.
    li Can imitate traits of other ghosts, including hunting early.
    li Changes what traits to imitate every 30 to 120 seconds, but never during a hunt.
ul.evidence
    +box
    +ultraviolet
    +freezing
    +orb(required=true)
    +earlyhunt
    +sanityloss
    +fast
    +slow