include ../mixins/evidence.pug

h3 Moroi
    img(src="ghost-icons/moroi.png")
ul
    li Hunting Speed is 10% slower above 45% average sanity, gradually increasing to 30% faster at 0% average sanity.
    li Sanity Loss: Getting a Spirit Box response will curse the player, doubling their passive sanity drain, and standing in a lit area will not stop the sanity drain.
    li The curse will pause when outside of the house, and start again when back inside.
    li Sanity Medication will break the curse.
    li Multiple players can be cursed at the same time.
    li Using incense nearby it during a hunt will disorient it for 50% longer, meaning it will still be disoriented for a few seconds after the incense has burnt down.
ul.evidence
    +box(required=true)
    +freezing
    +writing
    +sanityloss
    +fast
    +slow