include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Myling") Myling
    img(src="ghost-icons/myling.png")
ul
    li When Hunting, footsteps and ghost vocalisations can only be heard within 12m of the player (same distance as electronic interference).
    li Produces paranormal sounds through the Parabolic Microphone more frequently.
ul.evidence
    +emf
    +ultraviolet
    +writing