include ../mixins/evidence.pug

h3 Oni
    img(src="ghost-icons/oni.png")
ul
    li When Hunting, the ghost will flash visible for longer durations, making it easier to take a photo of.
    li Ghost Events will never be ghost mist/airball.
    li Ghost Events prefers full manifestation over shadowy or translucent ones.
    li Sanity Loss of 20% instead of 10% when colliding with the target player during a ghost event.
    li Interactions happen more frequently when players are nearby.
ul.evidence
    +emf
    +freezing
    +dots
    +sanityloss