include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Onryo") Onryo
    img(src="ghost-icons/onryo.png")
ul
    li Hunt Initiation cannot occur when ghost is within 4m of a lit candle, a lighter, or a campfire.
    li Hunt Initiation will prioritize blowing out lit candles, lighters, and campfires over burning a crucifix.
    li Hunt Initiation triggers every third blow out of a lit candle, a lighter, or a campfire. This hunt can still be blocked by an additional nearby flame or crucifix.
    li Average Sanity Hunt at 60%.
    li Blows out lit candles, lighters, and campfires more frequently. Increases further with the number of dead players.
ul.evidence
    +box
    +orb
    +freezing
    +earlyhunt