include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Phantom") Phantom
    img(src="ghost-icons/phantom.png")
ul
    li When Hunting, the ghost is invisible for twice as much of the time.
    li Sanity Loss of 0.5%/sec occurs while being in line of sight within 10m of the ghost during a ghost event or hunt.
    li When photographed during a Ghost Event, it will turn invisible for the remainder of the event while the audio continues.
    li Ghost pictures listed in the journal will not show the ghost in the image, and will not contain any interference.
    li May pick a random player inside the house and walk to them no matter the distance, generating an EMF 2 reading at the player's location.
ul.evidence
    +box
    +ultraviolet
    +dots
    +sanityloss