include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Poltergeist") Poltergeist
    img(src="ghost-icons/poltergeist.png")
ul
    li When Hunting, will throw nearby objects twice as often.
    li Interactions may throw multiple objects at once.
    li Interactions may throw an object with twice the force.
    li Sanity Loss of 2% for every thrown object to all nearby players when multiple objects are thrown at once.
    li Activity Monitor can show similar to EMF 5 spike (jump 0 to 5 bar then drop down) due to throwing multiple objects at once.
ul.evidence
    +box
    +ultraviolet
    +writing
    +sanityloss