include ../mixins/evidence.pug

h3 Raiju
    img(src="ghost-icons/raiju.png")
ul
    li Hunting Speed increases by 50% when in range of any active electrical equipment.
    li Average Sanity Hunt is increased from 50% to 65% when nearby active electrical equipment.
    li Interferes with electronics up to 15m (instead of 10m) away on the same floor during hunts and ghost events.
ul.evidence
    +emf
    +orb
    +dots
    +earlyhunt
    +fast