include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Revenant") Revenant
    img(src="ghost-icons/revenant.png")
ul
    li Hunting Speed instantly increases by 75% when chasing or moving towards a player's last known position whether detected by seeing or hearing the player, or sensing held active electronics.
    li Hunting Speed decreased by 40% when roaming.
    li Hunting Speed decelerates over 2.7 seconds when returning to roaming.
ul.evidence
    +orb
    +writing
    +freezing
    +fast
    +slow