include ../mixins/evidence.pug

h3 Shade
    img(src="ghost-icons/shade.png")
ul
    li Hunt Initiation cannot happen if a player is in the same room as the ghost.
    li Average Sanity Hunt at 35%.
    li Ghost Events likelihood based on the average sanity. The chance starts at 0% at 100% sanity, and gradually increases to 100% at 50% sanity.
    li Ghost Events are likely to be ghost mist/airball (audio ones with the breath, hiss, or woosh).
    li Ghost Events showing its form are likely to be a shadowy figure.
    li No Interactions if a player is in the same room as the ghost.
    li When made to appear using a Summoning Circle, a Music Box, or a Monkey Paw, it has a chance of appearing as a black shadow rather than its full form.
ul.evidence
    +emf
    +writing
    +freezing