include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Spirit") Spirit
    img(src="ghost-icons/spirit.png")
ul
    li Incense Hunt Prevention is increased from 90 seconds to 180 seconds.
    li Note that, as per usual, using incense again will reset the timer.
ul.evidence
    +emf
    +box
    +writing