include ../mixins/evidence.pug

h3 Thaye
    img(src="ghost-icons/thaye.png")
ul
    li Average Sanity Hunt starts at 75%. Decreases each time the ghost ages, stopping at 15%.
    li Hunting Speed increased by 60% at start. Decreases each time the ghost ages, stopping at 1/3 of the initial speed (slower than players).
    li Hunting Speed does not accelerate when in line of sight of a player, unlike most ghosts.
    li Interactions and Ghost Events happen very frequently at start. Decreases each time the ghost ages, stopping at 1/4 of the initial frequency.
    li Only ages when a player is in the same room as the ghost.
    li Its response to asking its age on the Ouija Board will also change.
ul.evidence
    +orb
    +writing
    +dots
    +earlyhunt
    +fast
    +slow