include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/The_Twins") The Twins
    img(src="ghost-icons/twins.png")
ul
    li Hunt Initiation can occur where either twin is currently located. This includes the Summoning Circle.
    li Hunt Initiation blocking of crucifixes is based on the main twin's location, no matter which twin initiates the hunt.
    li Hunting Speed is increased or decreased by 10% depending on which twin is hunting. The alt-twin is the fast one.
    li Interactions may occur in two separate areas of the house nearly at the same time.
    li Activity Monitor will show an initial climb then level off followed by an immediate spike indicating a double interaction.
    li Evidence will not be available from the alt-twin except EMF 5.
ul.evidence
    +emf
    +box
    +freezing
    +fast
    +slow