include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Wraith") Wraith
    img(src="ghost-icons/wraith.png")
ul
    li Will never step in a salt pile.
    li May teleport to a random player, generating an EMF 2 reading at the player's location.
ul.evidence
    +emf
    +box
    +dots