include ../mixins/evidence.pug

h3 Yokai
    img(src="ghost-icons/yokai.png")
ul
    li When Hunting, it can only hear players or sense handheld active electronics that are within 2.5m away.
    li Average Sanity Hunt is increased from 50% to 80% while talking near the ghost.
    li Interactions increased while talking near the ghost.
ul.evidence
    +box
    +orb
    +dots
    +earlyhunt