include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Yurei") Yurei
    img(src="ghost-icons/yurei.png")
ul
    li Incense Hunt Prevention also traps the ghost in its favourite room for the full duration (90 seconds).
    li Much more likely to fully close doors, and can uniquely close exit doors without it being a ghost event or a hunt.
    ul
        li Causes a Sanity Loss of 15% to nearby players.
        li A door interaction sound will be played (sometimes twice overlapping), followed by a slamming sound after about a second. When this distinct sound pattern is heard, it is very likely a Yurei.
ul.evidence
    +orb
    +freezing
    +dots
    +sanityloss