include ../mixins/evidence.pug

h3(wiki="https://phasmophobia.fandom.com/wiki/Yurei") Yurei
    img(src="ghost-icons/yurei.png")
ul
    li Sanity Loss of 15% from fully closing a door near you.
    li Incense Hunt Prevention will prevent the ghost from leaving the area for 90 seconds.
    li More frequently closes doors fully (except locker/closet doors), and can even close exit doors without it being a ghost event or a hunt.
ul.evidence
    +orb
    +freezing
    +dots
    +sanityloss