mixin dots
    li(data-evidence="dots")&attributes(attributes) D.O.T.S
    
mixin emf
    li(data-evidence="emf")&attributes(attributes) EMF 5

mixin ultraviolet
    li(data-evidence="ultraviolet")&attributes(attributes) UV
    
mixin freezing
    li(data-evidence="freezing")&attributes(attributes) Freezing Temp
    
mixin orb
    li(data-evidence="orb")&attributes(attributes) Ghost Orb
    
mixin writing
    li(data-evidence="writing")&attributes(attributes) Ghost Writing
    
mixin box
    li(data-evidence="box")&attributes(attributes) Spirit Box

mixin earlyhunt
    li(data-evidence-extra="earlyhunt")&attributes(attributes)

mixin sanityloss
    li(data-evidence-extra="sanityloss")&attributes(attributes)
    
mixin fast
    li(data-evidence-extra="fast")&attributes(attributes)
    
mixin slow
    li(data-evidence-extra="slow")&attributes(attributes)