doctype html
head
    title PhasmoHelper
    link(rel='icon' href='favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='main.sass')
    link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap' rel='stylesheet')
    meta(name='description' content='A Phasmophobia web app for help with tracking ghost evidence and information.')
    meta(name='keywords' content='Phasmophobia, PhasmoHelper, Phasmo, Companion App, Web App, Phasmo Site')
    meta(name='author' content='Jobus, zuffdaddy')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
#top-content
    .config-buttons
        #nightmare-toggle.toggle Nightmare
        #hide-excluded-toggle.toggle Hide Excluded
        #reset.button Reset
    #possessions
        #possession-buttons
            .toggle Haunted Mirror
            .toggle Music Box
            .toggle Ouija Board
            .toggle Summoning Circle
            .toggle Tarot Cards
            .toggle Voodoo Doll
            .toggle Monkey Paw
        #possession-hints.disabled
            .disabled: include cursed-possessions/mirror
            .disabled: include cursed-possessions/musicbox
            .disabled: include cursed-possessions/ouijaboard
            .disabled: include cursed-possessions/summoningcircle 
            .disabled: include cursed-possessions/tarotcards
            .disabled: include cursed-possessions/voodoodoll
            .disabled: include cursed-possessions/monkeypaw
    a.github-icon(href='https://github.com/Jobus0/phasmohelper' target='”_blank”' title="Project's GitHub page")
        img(src='github-mark-white.svg' style='height: 30px' alt='GitHub')
#bottom-content
    #evidence-buttons
        .button(data-evidence='dots' title='Ghost visually exposed by a D.O.T.S Projector.'): div
            span.full D.O.T.S Projector
            span.short D.O.T.S
        .button(data-evidence='emf', title='Level 5 reading on an EMF Reader.'): div
            span.full EMF Level 5
            span.short EMF 5
        .button(data-evidence='ultraviolet', title='Fingerprint or footprint found with UV Light.') Ultraviolet
        .button(data-evidence='freezing', title='Temperatures below 1°C (33.8°F).'): div
            span.full Freezing Temperatures
            span.short Freezing
        .button(data-evidence='orb', title="Floating orb inside the ghost's favourite room when viewed through a Video Camera with night vision.") Ghost Orb
        .button(data-evidence='writing' title='Ghost wrote something in a Ghost Writing Book.') Ghost Writing
        .button(data-evidence='box', title='Any vocal response from a Spirit Box.') Spirit Box
        hr
        .button(data-evidence-extra='earlyhunt' title='Hunt above 50% average sanity.') Early Hunt
        .button(data-evidence-extra='sanityloss' title='Abnormal sanity loss.') Sanity Loss
        .button(data-evidence-extra='fast' title='Fast movement speed during hunt.') Fast
        .button(data-evidence-extra='slow' title='Slow movement speed during hunt.') Slow
    #journal-minimap.disabled
        table
            tr
                td Spirit
                td Wraith
                td Phantom
            tr
                td Poltergeist
                td Banshee
                td Jinn
            tr
                td Mare
                td Revenant
                td Shade
            tr
                td Demon
                td Yurei
                td Oni
            tr
                td Yokai
                td Hantu
                td Goryo
            tr
                td Myling
                td Onryo
                td The Twins
            tr
                td Raiju
                td Obake
                td The Mimic
            tr
                td Moroi
                td Deogen
                td Thaye
    #ghosts
        .ghost: div: include ghosts/banshee
        .ghost: div: include ghosts/demon
        .ghost: div: include ghosts/deogen
        .ghost: div: include ghosts/goryo
        .ghost: div: include ghosts/hantu
        .ghost: div: include ghosts/jinn
        .ghost: div: include ghosts/mare
        .ghost: div: include ghosts/mimic
        .ghost: div: include ghosts/moroi
        .ghost: div: include ghosts/myling
        .ghost: div: include ghosts/obake
        .ghost: div: include ghosts/oni
        .ghost: div: include ghosts/onryo
        .ghost: div: include ghosts/phantom
        .ghost: div: include ghosts/poltergeist
        .ghost: div: include ghosts/raiju
        .ghost: div: include ghosts/revenant
        .ghost: div: include ghosts/shade
        .ghost: div: include ghosts/spirit
        .ghost: div: include ghosts/thaye
        .ghost: div: include ghosts/twins
        .ghost: div: include ghosts/wraith
        .ghost: div: include ghosts/yokai
        .ghost: div: include ghosts/yurei
script(src='main.ts')
script(src='https://unpkg.com/animate-css-grid@1.4.3/dist/main.js')
script.
    animateCSSGrid.wrapGrid(document.querySelector("#ghosts"), {duration: 400});
    animateCSSGrid.wrapGrid(document.querySelector("#evidence-buttons"), {duration: 400});
